<nav>
    <strong>SchoolPrepar</strong> |
    <a href="{{ path('app_home') }}">Accueil</a> -
    <a href="{{ path('app_filiere_index') }}">Filières</a> -
    <a href="{{ path('app_etablissement_index') }}">Établissements</a>
</nav>
<hr>