{% extends 'front/base.html.twig' %}

{% block title %}Nos Établissements{% endblock %}

{% block body %}
    <h1>Liste des Établissements partenaires</h1>
    <p>Découvrez les écoles et universités de notre réseau.</p>
{% endblock %}