<h3>Menu Back-Office</h3>
<ul style="list-style-type: none; padding: 0;">
    <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
    <li><a href="{{ path('admin_filiere_index') }}">Gestion des Filières</a></li>
    <li><a href="{{ path('admin_etablissement_index') }}">Gestion des Établissements</a></li>
</ul>