<footer class="footer mt-auto py-3 bg-light border-top text-center" style="margin-left: 250px; position: fixed; bottom: 0; width: calc(100% - 250px);">
    <div class="container">
        <span class="text-muted">SchoolPrepar Admin Session &copy; {{ 'now'|date('Y') }}</span>
    </div>
</footer>