{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des Filières{% endblock %}

{% block body %}
    <h1>Gestion des Filières</h1>
    <p>Interface pour ajouter, modifier ou supprimer des filières (CRUD à venir).</p>
{% endblock %}