{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des Établissements{% endblock %}

{% block body %}
    <h1>Gestion des Établissements</h1>
    <p>Interface pour administrer les écoles et universités (CRUD à venir).</p>
{% endblock %}